# comment
*.zip
*~
*.json
*.pdf
*.dvi
*.aux
*.log
*.mp4
*.c
*.o
*.i
*.s
*.pyc
.valencia
KdS
newton
nbody3d
raytrace-commands
icgenParticle
icgenLight
kerr-image
kerr-image-ian
!kerr-image.c
VPythonOutput/
RaytracingOutput/
tmp/
images/

.idea

