# comment
*.zip
*~
*.json
*.pdf
*.dvi
*.aux
*.log
*.mp4
*.c
*.o
*.i
*.s
*.pyc
.valencia
TestKdS
raytrace-commands
Simulate
Gen*
kerr-image
kerr-image-ian
!kerr-image.c
VPythonOutput/
RaytracingOutput/
tmp/
images/
doc/
obj/
bin/

.idea

test*
