# comment
*.zip
*~
initial-conditions
*.pdf
*.dvi
*.aux
*.log
*.mp4
*.c
*.o
*.i
*.s
*.pyc
.valencia
bh3d
bh3d.rk4
newton
nbody3d
raytrace-commands
icgen
kerr-image
!kerr-image.c
RaytracingOutput/
tmp/
images/

