{
  "rMin": 3.0,
  "rMax": 12.0,
  "elevation": 63.0,
  "spin": 0.8,
  "E0": 1.0,
  "L0": 5.0,
  "Q0": 0.0,
  "cross" : false,
  "start" : 0.0,
  "end" : 1000.0,
  "step" : 0.01,
  "plotratio" : 1,
  "integrator": "b2",
  "method": "dnewton",
  "maxIterations": 1000,
  "termination": "deltas",
  "epsabs": 1.0e-12,
  "epsrel": 1.0e-12
}
