{
  "mu2": 1.0,
  "rMin": 2.0,
  "rMax": 400.0,
  "thMin": 0.15,
  "spin": 1.0,
  "Lfac": 1.0,
  "E0": 1.0,
  "L0": 5.0,
  "Q0": 0.0,
  "method": "hybrid",
  "maxIterations": 1000,
  "termination": "both",
  "epsabs": 1.0e-12,
  "epsrel": 1.0e-12
}
