{
  "Simulator": "Bh",
  "IC": {
    "m": 1.0,
    "r0": 12,
    "Lfac": 1.0,
    "start": 0,
    "end": 2000,
    "step": 1.0,
    "integrator": "b2",
    "scheme": "suzuki",
    "tol" : 1.0e-15,
    "plotratio": 1
  }
}

